{% extends 'index.html' %}
<html lang="en">

{% block content %}
    <div class="panel panel-info col-sm-offset-3 col-sm-6">
        <div style="margin-bottom: 5px; margin-top: 5px">
            <!-- 添加跳转地址 -->
            <h1>AI Address Page</h1>
            <p>This is the AI address page.</p>
        </div>
        <div class="panel-heading">
            <h3 class="panel-title  col-sm-offset-5">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                部门列表
            </h3>
        </div>
    </div>
{% endblock %}