<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}包头意林{% endblock %}</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-4.6.2/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/my_style.css' %}">
    {% block datepick_css %}{% endblock %}
    <style>
        .navbar {
            border-radius: 8px;
        }
    </style>
</head>

<body>

<!-- 导航条 -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">WELCOME EANIN (BaoTou)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    产品分类
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/cake/">蛋糕</a>
                    <a class="dropdown-item" href="#">面包</a>
                    <a class="dropdown-item" href="#">甜品</a>
                    <a class="dropdown-item" href="#">巧克力</a>
                    <a class="dropdown-item" href="#">咖啡</a>
                    <a class="dropdown-item" href="#">外购</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script src="{% static 'js/jquery-3.6.3.min.js' %}" ></script>
<script src="{% static 'plugins/bootstrap-4.6.2/js/bootstrap.js' %}" ></script>

{% block content %}{% endblock %}
{% block js %}{% endblock %}
{% block datepick_js %}{% endblock %}

</body>
</html>