{% extends 'base.html' %}

{% block title %}EANIN{% endblock %}
{% load static %}

{% block content %}
    <style>
        .background-image-container {
            background-image: url('{% static 'img/from_internet/coffee-WP.webp' %}');
            background-size: cover;
            background-position: center;
            height: 855px;
            width: 100%;
            position: relative;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 2rem;
        }
    </style>
    <div class="background-image-container">
        <div class="overlay">
            <dl class="row">
                <dt class="col-sm-12">
                    <!--- <img src="{% static 'img/Logo(300x51).png' %}" --->
                         alt="欢迎光临 EANIN" style="max-width: 100%;">
                </dt>
                <dd style="height: 20px;"></dd>
                <dd class="col-sm-10 offset-2" style="color: #f5f5f5">欢迎光临 EANIN</dd>
            </dl>
        </div>
    </div>

{% endblock %}
