{% extends 'base.html' %}

{% block title %}EANIN{% endblock %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-4" style="margin-top: 10px; margin-left: 20px; ">
            <img src="{% static 'img/Logo(300x51).png' %}" alt="欢迎光临 EANIN" style="max-width: 100%; ">
        </div>
        <div class="col-sm-2"
             style="color: #0f500b; margin-top: 10px; display: flex; justify-content: flex-end; align-items: flex-end; height: 50px;">
            欢迎光临 EANIN
        </div>
    </div>


{% endblock %}
