{% extends 'index.html' %}

{% block content %}
    <!-- ====== 标题及面板 ====== -->

    <div class="panel panel-info col-sm-offset-3 col-sm-6">
        <div style="margin-bottom: 5px; margin-top: 5px">
        <!-- 添加跳转地址 -->
        <a class="btn btn-default" href="/depart/add01/">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            新建部门
        </a>
    </div>
        <div class="panel-heading">
            <h3 class="panel-title  col-sm-offset-5">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                部门列表
            </h3>
        </div>

        <!-- ====== 正文 ====== -->

        
        <!-- ====== 正文end ====== -->

    </div>
    <!-- ====== 标题及面板end ====== -->
{% endblock %}
