{% extends 'index.html' %}
{% load static %}

{% block datepick_css %}
	<link rel="stylesheet" href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %}">
	<link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}"
	      media="screen">
{% endblock %}

{% block content %}
	<!-- ====== 标题及面板 ====== -->
	<div class="panel panel-info col-sm-offset-1 col-sm-10">
		<div style="margin-bottom: 4px; margin-top: 4px" class="col-sm-4 clearfix">
			<!-- 出库数据录入弹出框按钮 -->
			<a id="js_add" type="button" class="btn btn-primary">
				<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				新增出库
			</a>
			<input id="print_button" type="button" value="打印出库单"
			       class="btn btn-default btn-sm btn-print">
		</div>

		<!-- 搜索框 -->
		<form method="get">
			<div style="float: right; margin-right: 4px; margin-top: 4px; width: 200px;">
				<form method="get">
					<div class="input-group" style="width: 200px">
						<input type="text" name="choice_name" class="form-control" placeholder="名称关键字">
						<span class="input-group-btn">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            <button class="glyphicon glyphicon-search btn btn-default"
                                    type="submit" aria-hidden="true">搜索物料</button>
                        </span>
					</div>
				</form>
			</div>
		</form>
		<!-- 搜索框 end -->

		<div class="panel-heading">
			<h3 class="panel-title  col-sm-offset-5">
				<span class="glyphicon glyphicon-list" aria-hidden="true"></span>
				出库单列表（一年内数据）
			</h3>
		</div>

		<!-- ====== 正文 ====== -->

		<div class="bs-example">
			<form method="get">
				<table class="table table-bordered">
					<thead>
					<tr style="color: #6c757d">
						<th>ID</th>
						<th>批次编码</th>
						<th>出库日期</th>
						<th>领取部门</th>
						<th>名称</th>
						<th>出库数量</th>
						<th>出库单价</th>
						<th>出库金额</th>
						<th>操作员</th>
						<th>审核状况</th>
						<th> 操作</th>
					</tr>
					</thead>
					<tbody>

					{% for obj in queryset %}
						<tr>
							<td>{{ obj.id }}</td>
							<td>{{ obj.batchCode }}</td>
							<td>{{ obj.date|date:"Y-m-d" }}</td>
							<td>{{ obj.department.name }}</td>
							<td>{{ obj.name.name }}</td>
							<td>{{ obj.outbound }}</td>
							<td>{{ obj.issueUnitPrice }}</td>
							<td>{{ obj.issueAmount }}</td>
							<td>{{ obj.operator.name }}</td>
							<td>{{ obj.get_approved_display }}</td>
							<td>
								{% if obj.approved == 0 %}
									<input uid="{{ obj.id }}" type="button" value="修改"
									       class="btn btn-success btn-xs btn_edit">
									<a class="btn btn-primary btn-xs"
									   href="/outbound/{{ obj.id }}/list/approved01/">审核</a>
									<input type="button" value="删除" uid="{{ obj.id }}"
									       class="btn btn-danger btn-xs btn-delete">
								{% endif %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</form>
		</div>

		<!-- 分页 -->
		<ul class="pagination clearfix">
			<!-- 输入页码跳转 -->
			<form method="get"></form>
			<div style="float: right; width: 150px;">
				<form method="get">
					<div class="input-group" style="width: 150px">
						<input type="text" name="page" class="form-control" placeholder="页码">
						<span class="input-group-btn">
                            <button class="btn btn-default" type="submit">跳转</button>
                        </span>
					</div>
				</form>
			</div>
			<!-- 输入页码跳转 end -->
			{{ page_string }}
		</ul>
		<!-- 分页 end -->

		<!-- ====== 正文end ====== -->
	</div>
	<!-- ====== 标题及面板end ====== -->

	<!-- Modal Ajax新增或修改出库单 -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form id="formData" method="post" autocomplete="off" novalidate>
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel" style="color:#0f6674">新增出库单</h4>
					</div>
					<div class="panel-body col-md-6">
						领取部门：{{ form.department }}
					</div>
					<div class="panel-body col-md-6">
						<label id="choice_date">
							出库日期：{{ form.date }}
						</label>
					</div>
					<div class="panel-body col-md-6">
						名称：{{ form.name }}
					</div>
					<div class="panel-body col-md-6" style=" margin-bottom: 10px">
						出库数量：{{ form.outbound }}
						<span style="color: brown" class="error-msg"> {{ field.errors.0 }} </span>
					</div>
					<div class="modal-footer">
						<HR style="border: double #0f6674" width="100%" SIZE=1>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<input id="ModalSave" type="button" class="btn btn-default" value="保存">
						<!--
                        <button id="ModalSave" type="button" class="btn btn-default">保存</button>
                        -->
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Modal 删除警示框 -->
	<div class="modal fade" id="myDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">

			<div class="alert alert-danger alert-dismissible fade in" role="alert">
				<h4 style="text-shadow: #761c19">【 警告 ！！！】 确定要删除？</h4>
				<p style="margin: 20px 10px;">
					删除内容不可恢复，并且现有数据可能与其他数据关联，有可能删除其他没有显示的数据！请小心操作。</p>
				<hr>
				<p style="text-align: right;">
					<button id="btnConFirmDelete" type="button" class="btn btn-danger">确定删除</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</p>
			</div>

		</div>
	</div>

	<!-- printModal 打印明细及选项窗口 -->
	<div id="printModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">打印出库单</h4>
				</div>
				<div class="modal-body">

					<!--window body-->
					<div class="row">
						<form id="printSelect" method="post">
							<div class="col-sm-5">
								<div class="input-group">
								<span class="input-group-addon btn-date glyphicon glyphicon-calendar"
								      aria-hidden="true">选择出库日期
								</span>
									{{ form.date }}
								</div><!-- /input-group -->
							</div><!-- /.col-sm-5 -->
							<div class="col-sm-5">
								<div class="input-group">
									{{ form.department }}
									<span class="input-group-addon btn-department glyphicon glyphicon-search"
									      aria-hidden="true">领取部门
								</span>
								</div><!-- /input-group -->
							</div><!-- /.col-sm-5 -->
							<div class="col-sm-2">
								<button type="button" class="glyphicon glyphicon-refresh btn btn-default"
								        id="printList" aria-hidden="true">刷新明细
								</button>
							</div><!-- /.col-sm-2 -->
						</form>
					</div><!-- /.row -->
					<!-- 显示打印明细 -->

					<div id="JSprint" class="row">
						<div class="col-md-1">
						</div>
						<div class="col-md-10 panel panel-default" style="margin-top: 30px">
							<div class="panel-body">
								<div class="panel-heading panel-title btn-title">title</div>
								<div class="bs-example" data-example-id="condensed-table">
									<table class="table table-condensed table-hover">
										<thead>
										<tr>
											<th>ID</th>
											<th>批次编码</th>
											<th>名称</th>
											<th>出库数量</th>
											<th>出库单价</th>
											<th>金额</th>
											<th class="THcheckBox">打印选项</th>
										</tr>
										</thead>
										<tbody id="appandValue">
										<!-- jQuery 表格 -->
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div><!-- /.row -->
					<!-- 显示打印明细 end -->

					<!--window body end-->

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary btn-GOprint">打印</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block datepick_js %}
	<script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-TW.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-select/js/i18n/defaults-zh_TW.js.map' %}"></script>
{% endblock %}

{% block js %}
	<script src="{% static 'js/jQuery.print.js' %}"></script>
	<script src="{% static 'js/jQuery.print.min.js' %}"></script>
	<script type="text/javascript">
        var js_date;
        var DELETE_ID;
        var EDIT_ID;
        var PRINT_QUERYSET;

        $(function () {
            bind_Js_add();
            bind_choice_date();
            bind_ModalSave();
            bind_Js_delete();
            bind_ConFirmDelete();
            bind_btn_edit();

            bind_btn_date();
            bind_print_window();
            bind_printList();
            bind_GOprint();
        });

        function bind_btn_date() {
            $(".btn-date").next().datepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-TW',
                autoClose: true,
                todayHighlight: true,
                todayBtn: true,
            });
            $(".btn-date").next().datepicker("setDate", new Date());
        }

        function bind_printList() {
            // 点击刷新打印明细按钮事件
            $('#printList').click(function () {
                $.ajax({
                    url: '/outbound/print/',
                    type: 'POST',
                    data: $('#printSelect').serialize(),
                    dataType: 'JSON',
                    success: function (res) {
                        var tt = $('#appandValue');
                        tt.children().remove()  // 清空表格数据
                        var printlist = res.PRINT_QUERYSET;
                        // console.log(printlist);
                        var date = $('.btn-date').next().datepicker().val();    // 获取出库时间
                        // var department = $("#id_department option:selected").text() // 获取下拉框选中对象的文本
                        var department = $(
                            "#printSelect > div:nth-child(2) > div > div > button > div.filter-option > div > div"
                        ).text(); // 获取下拉框选中对象的文本
                        // console.log(date, department)
                        $('.btn-title').text('【包头意林出库单】出库日期：' + date + ' / 领取部门：' + department);    // 给标签文本赋值
                        var amount = 0;
                        if (printlist) {
                            // 如果返回的数组有数据
                            for (var i = 0; i < printlist.length; i++) {
                                // 遍历数组，页面增加显示元素
                                var fieldValue = printlist[i];
                                var rowID = fieldValue.id
                                // 给每个’金额‘分配属性：’name’=rowID+’price‘；给多选框分配属性：ID=rowID
                                tt.append('<tr name="' + rowID + '" class="table table-bordered">')
                                tt.append('<th>' + fieldValue.id + '</th>');
                                tt.append('<td>' + fieldValue.batchCode + '</td>');
                                tt.append('<td>' + fieldValue.name + '</td>');
                                tt.append('<td>' + fieldValue.outbound + fieldValue.unit + '</td>');
                                tt.append('<td>' + fieldValue.issueUnitPrice + '元' + '</td>');
                                tt.append('<td id="' + rowID + 'price">' + '￥' + fieldValue.issueAmount + '元' + '</td>');
                                tt.append('<input type="checkbox" name="checkbox" id="' + rowID + '" class="checkBox" checked="true"></input>')
                                // 合计金额，浮点型【parseFloat()取浮点数函数】;toFixed(2)保留两位小数
                                amount = amount + parseFloat(fieldValue.issueAmount)
                            }
                            // 增加一行合计金额
                            tt.append('<tr class="table table-bordered">')
                            tt.append('<th>' + '</th>');
                            tt.append('<td>' + '</td>');
                            tt.append('<td>' + '</td>');
                            tt.append('<td>' + '</td>');
                            tt.append('<th>' + '合计金额：' + '</th>');
                            // 浮点型字符和字符串可以拼接
                            tt.append('<th name="amount">' + '￥' + amount.toFixed(2) + '元' + '</th>');  //
                        } else {
                            if (res.tips) {
                                alert(res.tips);
                            } else {
                                alert('数据错误！');
                            }
                        }
                        $('#appandValue > input[name="checkbox"]').change(function () {
                            // 复选框操作
                            var Cid = $(this).attr("id");    // 获取多选框这一行的自定义ID
                            // 查找多选框这一行的金额
                            for (var i = 0; i < printlist.length; i++) {
                                var fieldList = printlist[i];
                                if (fieldList.id === Cid) {
                                    // console.log(Cid, fieldList.id);
                                    var choicBoxPrice = parseFloat(fieldList.issueAmount);
                                }
                            }
                            // 计算多选框对应合计金额的变化
                            if ($(this).prop("checked")) {
                                $(this).prop("checked", true);
                                amount = amount + choicBoxPrice;
                                $('#appandValue > th[name="amount"]').text('合计金额：￥' + amount + '元');  // 重置合计金额
                                // console.log('多选框这一行选中了,合计金额：', amount, aa);
                            } else {
                                $(this).prop("checked", false);
                                amount = amount - choicBoxPrice;
                                $('#appandValue > th[name="amount"]').text('￥' + amount.toFixed(2) + '元');    // 重置合计金额
                                for (i = 0; i < 6; i++) {
                                    $('#appandValue > tr[name="' + Cid + '"]').next().remove(); // 删除6个不选择相<th><td>
                                }
                                $('#appandValue > tr[name="' + Cid + '"]').remove();    // 删除<tr>标签
                                // console.log('多选框这一行取消了,合计金额：', amount, aa);
                            }
                        });
                    }
                });
            });
        }

        function bind_print_window() {
            $('#print_button').click(function () {
                // 打印选项弹窗
                $('#printModal').modal('show');
                console.log()
            })

        }

        function bind_GOprint() {
            // jQuery.print.js 打印功能
            $('.btn-GOprint').click(function () {
                $('#JSprint').print({
                    iframe: true,   //是否弹出预览打印窗口
                    noPrintSelector: ".THcheckBox",   //不想打印的元素（css样式或者某个元素）
                    timeout: 750,
                    title: '内蒙古意林食品（包头）有限公司出库单',
                    stylesheet: null,
                })
            })
        }

        function bind_Js_add() {
            $('#js_add').click(function () {
                // 如果使用过修改功能，将已赋值的全局变量EDIT_ID清空
                EDIT_ID = undefined;    // undefined将来转化布尔值 Boollean 时，结果是 False
                // 点击新增出库按钮，弹出对话框
                $('#myModal').modal('show');
                // 修改对话框的标题
                $('#myModalLabel').text('新建出库单');
            })
        }

        function bind_choice_date() {
            // 日期选择器
            $("#choice_date").datepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-TW',
                autoClose: true,
                todayHighlight: true,
                todayBtn: true,
                maxDate: true,
            });
            $("#choice_date").datepicker("setDate", new Date());
            // $('#choice_date').datepicker('option', 'maxDate', '+0d');
        }

        function bind_ModalSave() {
            // Ajax 录入或修改出库数据
            $("#ModalSave").click(function () {
                // var formdata = $('#formData').serialize();
                //清除错误信息
                $('.error-msg').empty();
                if (EDIT_ID) {
                    // 修改出库单
                    doedit();
                } else {
                    // 新增出库单
                    doadd();
                }
            });
        }

        function doadd() {
            // 新增出库单,Alax向后端发送数据
            $.ajax({
                url: "/outbound/js_list01/",
                type: "post",
                data: $('#formData').serialize(),
                dataType: 'JSON',
                success: function (res) {
                    console.log(res);
                    if (res.status) {
                        location.reload();  // 刷新
                        alert('保存成功！');
                    } else {
                        if (res.tips) {
                            alert(res.tips);
                        } else {
                            alert('数据错误！保存失败');
                            // 把错误信息显示在对话框中。each循环
                            $.each(res.error, function (name, errorlist) {
                                $(('#id_' + name)).next().text(errorlist[0]);     // #id的下一个标签
                            })
                        }
                    }

                }
            });
        }

        function doedit() {
            // 修改出库单,Alax向后端发送数据
            $.ajax({
                url: "/outbound/list/edit01/" + "?uid=" + EDIT_ID,   // 另外向后端传一个值
                type: "post",
                data: $('#formData').serialize(),
                dataType: 'JSON',
                success: function (res) {
                    console.log(res);
                    if (res.status) {
                        alert('保存成功！');
                        // 清空表单
                        $('#formData')[0].reset();   // query对象中获取DOM对象
                        $('#myModal').modal('hide'); // 关闭对话框弹窗
                        location.reload();  // 刷新页面
                    } else {
                        if (res.tips) {
                            alert(res.tips);
                        } else {
                            // 把错误信息显示在对话框中。each循环
                            $.each(res.error, function (name, errorlist) {
                                $(('#id_' + name)).next().text(errorlist[0]);     // #id的下一个标签
                            })
                        }
                    }
                }
            });

        }

        function bind_Js_delete() {
            $('.btn-delete').click(function () {
                // 点击删除按钮执行，显示删除对话框
                $('#myDelete').modal('show');

                // 获取当前行的ID，赋值给全局变量：var
                DELETE_ID = $(this).attr("uid");
            });
        }

        function bind_ConFirmDelete() {
            $("#btnConFirmDelete").click(function () {
                // 点击确认按钮，将全局变量中的id发送给后台
                $.ajax({
                    url: "/outbound/list/delete01/",
                    type: "GET",
                    data: {
                        uid: DELETE_ID
                    },
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            // 刷新页面
                            location.reload();
                        } else {
                            // 删除失败
                            alert(res.error);
                        }
                    }
                });
            });
        }

        function bind_btn_edit() {
            // 修改出库单按钮显示弹窗
            $('.btn_edit').click(function () {
                EDIT_ID = $(this).attr("uid");

                $.ajax({
                    url: '/outbound/window/edit01/',
                    type: 'get',
                    data: {
                        uid: EDIT_ID
                    },
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            // console.log(res.data);
                            // 点击修改出库按钮，弹出对话框
                            $('#myModal').modal('show');
                            // 修改对话框的标题
                            $('#myModalLabel').text('修改出库单');
                            // 将前端传来的字典，赋值给对话框中的输入框
                            $.each(res.data, function (name, value) {
                                // console.log(name, value);
                                $('#id_' + name).val(value);
                            })
                        } else {
                            alert(res.error);
                        }
                    }
                })
            })
        }
	</script>
{% endblock %}


