{% extends 'index.html' %}

{% block content %}
    <!-- ====== 标题及面板 ====== -->
    <div class="panel panel-info col-sm-offset-2 col-sm-8">
        <div style="margin-bottom: 5px; margin-top: 5px">
            <!-- 添加跳转地址 -->
            <a class="btn btn-default" href="/user/add01/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                增加用户
            </a>
        </div>
        <div class="panel-heading">
            <h3 class="panel-title  col-sm-offset-5">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                用户列表
            </h3>
        </div>

        <!-- ====== 正文 ====== -->

        <div class="bs-example">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="color: #6c757d"> ID</th>
                    {% for field in form %}
                        <th style="color: #6c757d">{{ field.label }}</th>
                    {% endfor %}
                    <th style="color: #6c757d"> 操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.get_gender_display }}</td>
                        <td>{{ obj.create_time|date:"Y-m-d" }}</td>
                        <td>{{ obj.quit_time|date:"Y-m-d" }}</td>
                        <td>{{ obj.depart.name }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/user/{{ obj.id }}/edit01/">编辑</a>
                            <input type="button" value="删除" uid="{{ obj.id }}"
									       class="btn btn-danger btn-xs btn-delete">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- ====== 正文end ====== -->

    </div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">

			<div class="alert alert-danger alert-dismissible fade in" role="alert">
				<h4 style="text-shadow: #761c19">【 警告 ！！！】 确定要删除？</h4>
				<p style="margin: 20px 10px;">
					删除内容不可恢复，并且现有数据可能与其他数据关联，有可能删除其他没有显示的数据！请小心操作。</p>
				<hr>
				<p style="text-align: right;">
					<button id="btnConFirmDelete" type="button" class="btn btn-danger">确定删除</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</p>
			</div>

		</div>
	</div>
    <!-- ====== 标题及面板end ====== -->
{% endblock %}

{% block js %}
	<script type="text/javascript">
        var DELETE_ID;  // 声明全局变量

        $(function () {
            bind_Js_delete();
            bind_ConFirmDelete();
        })

        function bind_Js_delete() {
            $('.btn-delete').click(function () {
                // 点击删除按钮执行，显示删除对话框
                $('#myModal').modal('show');

                // 获取当前行的ID，赋值给全局变量：var
                DELETE_ID = $(this).attr("uid");
            });
        }

        function bind_ConFirmDelete() {
            $("#btnConFirmDelete").click(function () {
                // 点击确认按钮，将全局变量中的id发送给后台
                $.ajax({
                    url: "/user/delete01/",
                    type: "GET",
	                data:{
                        uid: DELETE_ID
	                },
                    dataType: "JSON",
                    success: function (res) {
                        if(res.status){
                            // 刷新页面
							location.reload();
                        }else {
                            // 删除失败
	                        alert(res.error);
                        }

                    }
                })
            })
        }
	</script>
{% endblock %}